vrrp_script haproxy {
    script "killall -0 haproxy"
    interval 2
    weight 2
}

vrrp_instance VRRP1 {
    state {{ keepalived_state }}
    interface eth0
    virtual_router_id 69
    priority {{ keepalived_priority }}
    advert_int 1
    garp_master_delay 10
    debug 1

    unicast_src_ip {{ keepalived_unicast_src_ip }}
    unicast_peer {
       {{ keepalived_unicast_peer }}
    }
    virtual_ipaddress {
      {{ keepalived_virtual_ip }}/{{ keepalived_subnet_mask }} brd {{ keepalived_broadcast_address }} scope global label eth0:10
    }
    track_script {
         haproxy
    }
}
